<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
  <test name="PractiseTestng" >
    <classes>
       <class name="com.learning.Demo" />
       <class name="com.learning.INvocationcount" />
       <class name="com.learning.assertTest" />
       <class name="com.learning.DependsFeature" />
       
    </classes>
  </test>
 
  
</suite>
